.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  margin-bottom: 40px;
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 40px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
  background: blue;
}
