.search {
  position: relative;
  // box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  margin-bottom: 40px;
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 40px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #3498db;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 110px;
  background: blue;
}
.bo-title {
  text-transform: uppercase;
}
.dot {
  height: 16px;
  width: 16px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.dot-active {
  background-color: #2ecc71;
}
.search-button {
  float: right;
  position: absolute;
  right: 30px;
  top: 10px;
}

.grid-photo {
  width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
