.patient-card-row .col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  //   background-color: rgba(39, 41, 43, 0.03);
  border: 1px solid rgba(39, 41, 43, 0.1);
  font-weight: bold;
}
.patient-card-viewport {
  min-height: 300px;
}
.patient-card-nav {
  padding-left: 0;
  ul {
    li {
      &:hover:not(.active) {
        background-color: #ecf0f1;
      }
      cursor: pointer;
    }
  }
}

.card-profile-photo {
  width: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
