#login {
  .container {
    #login-row {
      #login-column {
        #login-box {
          margin-top: 120px;
          margin-left: auto;
          margin-right: auto;
          max-width: 500px;
          height: 500px;
          border: 1px solid #9c9c9c;
          // background-color: #eaeaea;
          border-radius: 10px;

          // text-align: center;
          #login-form {
            .btn-login {
              margin: 0 auto;
              width: 200px;
            }
          }
        }
      }
    }
  }
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.login-wrapper {
  border: solid 1px silver;
  border-radius: 11px;

  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}
